$primary-color: #FBE6C4;
$primary-color-focus: #FFEED3;

$font-color: #000000;
$font-color-light: #FFFFFF;

$pot-color: #8998A2;
$shelf-color: #9A462C;

$metal-color: #394256;
$rating-unfilled-color: #404C69;
$rating-filled-color: #E88E4E;
