@use "@/assets/styles/colors" as *;

$pot-url: url("@/assets/images/pot.svg");

.buldak-app {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}

.shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin-right: 30px;

    .list-container {
        margin-top: 30px;
    }

    .search-sort-container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
        display: flex;

        .search-container {
            flex-grow: 1;

            input {
                width: 100%;
            }
        }
    }
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 30px;
    width: 40%;
    height: 600px;
    flex-shrink: 0;
}

.buldak-details {
    padding: 60px 40px 20px 40px ;
    background-image: $pot-url;
    background-size: cover;

    color: $font-color-light;

    table > tbody {

        tr {
            td {
                box-sizing: border-box;
                padding: 10px;
            }
            td:nth-child(1) {
                font-weight: 500;
            }
            td:nth-child(2) {
                padding-left: 20px;
                width: 70%;
            }
        }
    }
}

.buldak-item {
    margin: 10px;

    &::after {
        margin-top: 4px;
        content: "";
        display: block;
        width: 228px;
        height: 32px;
        background-color: $shelf-color;
        box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.5);
    }

    img {
        width: 120px;
        max-height: 120px;

        &:hover {
            animation: float-up-down 1.6s ease-in-out infinite;
        }
    }
}

@keyframes float-up-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0px);
    }
}