@use "@/assets/styles/colors" as *;

body {
    padding: 0;
    margin: 0;
    background-color: $primary-color;
    font-family: "Azeret Mono", Verdana, Geneva, Tahoma, sans-serif;
    color: $font-color;
}

input[type="text"], textarea, select {
    border: none;
    padding: 0.5em;
    font-size: 1rem;
    font-family: "Azeret Mono", Verdana, Geneva, Tahoma, sans-serif;

    box-sizing: border-box;
    border-radius: 0px;

    &::placeholder {
        font-weight: 600;
    }
}

button {
    border: none;
    font-family: "Azeret Mono", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;;
}

.details-container {
    background-color: $primary-color-focus;
    padding: 10px;
}

.list-item {
    font-size: 1rem;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}